---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Container from "@components/container.astro";
---

<Layout title="Quality Landscape and Leisure Gallery">
	<Container>
		<div id="container" class="py-20 text-center">
            <main>
                <section id="hero" class="max-w-2xl mx-auto px-4">
                    <h1 class="text-5xl font-extrabold text-gray-900 tracking-tight mb-4">
                        Gallery
                    </h1>
                </section>
            </main>
        </div>
	</Container>
</Layout>
